%nav.navbar.navbar-dark.bg-dark
  = link_to t('header.homepage'), users_path, class: 'navbar-brand'
  %ul.navbar.nav
    %div
      %div{style: 'text-align: right'}= link_to t('header.logout'), session_path(1), method: :delete
