%nav.navbar.navbar-dark.bg-dark
  = link_to t('header.homepage'), root_path, class: 'navbar-brand'
  %ul.navbar.nav
    %div
      - if user_signed_in?
        %div{style: 'color: white'} #{current_user.email}
        %div{style: 'text-align: right'}= link_to t('header.logout'), user_sessions_path, method: :delete
