= search_form_for [:admin, @q], builder: SimpleForm::FormBuilder, wrapper: :horizontal_form, html: { class: 'form-horizontal'} do |f|
    .row
        .col-md-6
            = f.input :name_cont, label: 'Название'
        .col-md-6
        = f.button :submit, 'Искать', class: 'btn btn-outline-secondary m-2'