= simple_form_for @service, url: admin_service_path(@service.id) do |f|
  = f.input :name
  = f.button :submit, class: "btn btn-secondary"
  = link_to t('.cancel'), admin_services_path, class: 'btn btn-outline-secondary'
