= simple_form_for @service, url: admin_services_path do |f|
    = f.input :name
    = f.button :submit, class: 'btn btn-info'
    = link_to t('.cancel'), admin_services_path, class: 'btn btn-outline-secondary'
