%nav.navbar.navbar-dark.bg-dark
  = link_to 'Homepage', user_users_path, class: 'navbar-brand'
  %ul.navbar.nav
    %div
      %div{style: 'color: white'}= current_user.email
      %div{style: 'text-align: right'}= link_to 'Выйти', session_path(session[:user_id]), method: :delete